{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    购物车
{% endblock %}

{% block content %}
    <h1>购物车</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>图像</th>
            <th>商品</th>
            <th>数量</th>
            <th>删除</th>
            <th>单价</th>
            <th>总价</th>
        </tr>
        </thead>

    <tbody>
        {% for item in cart %}
            {% with product=item.product  %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.override }}
                            <input type="submit" value="更新">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>
                        <form action="{% url "cart:cart_remove" product.id %}" method="post">
                            <input type="submit" value="删除">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td class="num">￥{{ item.price }}</td>
                    <td class="num">￥{{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if cart.coupon %}
            <tr class="subtotal">
                <td>优惠</td>
                <td colspan="4"></td>
                <td class="num">￥{{ cart.get_total_price }}</td>
            </tr>
            <tr>
                <td>
                    优惠券 “{{ cart.coupon.code }}” 减少 ({{ cart.coupon.discount }}%)
                </td>
                <td colspan="4"></td>
                <td class="num neg">
                    - ￥{{ cart.get_discount|floatformat:"2"  }}
                </td>
            </tr>
        {% endif %}

      <tr class="total">
            <td>总价</td>
            <td colspan="4"></td>
            <td class="num">￥{{ cart.get_total_price_after_discount|floatformat:"2" }}</td>
        </tr>
    </tbody>
    </table>
    {% if recommended_products %}
     <div class="recommendations cart">
        <h3>其他用户同时购买了：</h3>
        {% for product in recommended_products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
            </div>
        {% endfor %}

     </div>
    {% endif %}
    <p>输入优惠券码：</p>
    <form action="{% url "coupons:apply" %}" method="post">
        {{ coupon_apply_form }}
        <input type="submit" value="提交">
        {% csrf_token %}
    </form>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">继续购物</a>
        <a href="{% url "order:order_create" %}" class="button">购买</a>
    </p>


{% endblock %}